# Environment variables in an App SDK app will be bundled, don't use it for secrets!

# Sanity Configuration
SANITY_ORGANIZATION_ID=your-project-id
SANITY_APP_ID=your-dataset
SANITY_APP_PROJECT_ID=your-organization-id
SANITY_APP_DATASET=your-app-id

# Backend Service
SANITY_APP_BACKEND_SERVICE_ORIGIN=https://your-backend-url.com
